# --- POSTGRES ---
POSTGRES_DB=identity_db
POSTGRES_USER=user
POSTGRES_PASSWORD=your_db_password

# --- KEYCLOAK ---
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password
KEYCLOAK_CLIENT_SECRET=your_keycloak_client_secret

# --- MICROSERVIZI ---
CORE_SERVICE_USER=admin
CORE_SERVICE_PASS=admin